<div class="form-group" id="experienceUpdateModal" tabindex="-1" role="dialog" aria-labelledby="ExperienceModalLabel"
     aria-hidden="true" *ngIf="experienceForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ExperienceModalLabel">Update Candidate</h5>
      </div>
      <div class="modal-body">
        <form *ngIf="experienceForm" class="form-control" (ngSubmit)="onSubmit()" [formGroup]="experienceForm">
          <label for="candidateId">Candidate</label>
          <input type="text" class="form-control" id="candidateId" formControlName="candidateId" name="candidateId"
                 [disabled]="isFieldDisabled"
                 required>
          <label for="designationId">Designation</label>
          <input type="text" class="form-control" id="designationId" formControlName="designationId"
                 name="designationId" required>
          <label for="organisationName"><strong>Organisation: </strong></label>
          <input type="text" class="form-control" id="organisationName" name="organisationName"
                 formControlName="organisationName"><br><br>

          <label for="isCurrent">Is Current:</label><br>
          <input type="radio" id="isCurrent" name="isCurrent" formControlName="isCurrent" value="true"> True
          <label for="notCurrent"></label><br>
          <input type="radio" id="notCurrent" name="isCurrent" formControlName="isCurrent" value="false"> False
          <br><br>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="cancel" (click)="navigateToAllExperiences()">Close</button>
            <button class="btn btn-primary" type="submit" [disabled]="!experienceForm?.valid">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
