<div class="form-group" id="designationAddModal" tabindex="-1" role="dialog" aria-labelledby="DesignationModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="title" id="DesignationModalLabel">Add Designation</h5>
      </div>
      <div class="form-group">
        <form *ngIf="designationForm" class="form-control" (ngSubmit)="onSubmit()" [formGroup]="designationForm">
          <label for="InputTitle">Title</label>
          <input type="text" class="form-control" id="InputTitle" name="title" formControlName="title"
                 required
                 placeholder="Enter Title">
          <label for="InputLocationType">Location Type</label>
          <input type="text" class="form-control" id="InputLocationType" formControlName="locationType"
                 name="location" required placeholder="On-Site/Off-Site">
          <label for="InputEmploymentType">Employment Type</label>
          <input type="text" class="form-control" id="InputEmploymentType"
                 formControlName="employmentType"
                 name="employmentType" required placeholder="Full-Time/Part-Time">
          <button type="submit" class="btn btn-primary" [disabled]="!designationForm?.valid">Submit</button>
          <button class="btn btn-secondary" type="cancel" (click)="navigateToDesignations()">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

